@CHARSET "UTF-8";

#chat-panel {
	height: 100%;
}

.profile-image {
	width: 96px;
	height: auto;
}

#localVideo {
	border-radius: 5px;
	width: 100%;
	height: auto;
}

#remoteVideos video {
	border-radius: 5px;
	width: 100%;
	height: auto;
}

#volume-level-range {
	display:inline-block;
    vertical-align:middle;
	width: auto;
}

