backend/.project
backend/.springBeans
backend/.classpath
backend/mvnw
backend/.settings/**
backend/target/**
backend/mvnw.cmd
backend/.mvn/**
backend/*.iml
.git/**
.
.idea
backend/.idea

frontend/.project
frontend/.settings/**
frontend/logs/*
frontend/!.gitkeep
frontend/node_modules/
frontend/bower_components/
frontend/tmp
frontend/.DS_Store
frontend/.idea
frontend/*.iml
