/* app css stylesheet */

@import url('/assets/css/consultation.css');
@import url('/assets/css/signup.css');
@import url('/assets/css/file-upload.css');

.nav > .nav-item {
	margin-right: 5px;
}

.navbar-default .navbar-nav > li > .btn-success {
	color: white;
}

.center {
	float: none;
	margin: auto;
}

.modal-body {
	padding: 5%;
}

.message {
	border-radius: 5px;
	padding: 2% 1% 0 1%;
	margin-top: 1%;
}

#chat-messages {
	height: 240px;
	overflow: auto;
}

.msg-content {
	margin-top: 1%;
	padding: 1%;
	overflow-wrap: break-word;
	font-size: 18px;
}

.msg-label {
	border: solid white 1px;
	border-radius: 5px;
	padding: 1%;
	margin-top: 1%;
	font-size: 14px;
}

.dropdown-toggle {
	margin-left: 5px;
}

.dropdown-menu {
  min-width: auto;
  width: 100%;
  padding: 2%;
}

.dropdown-item {
  width:100%;
	padding: 2% 1% 2% 1%;
}

.dropdown-item:hover {
	cursor: pointer;
	background-color: #5cb85c;
	color: white;	
	border-radius: 5px;
}

th:hover {
	cursor: pointer;
}

.btn-toolbar button {
	margin-right: 2px;
}

#files-table-wrapper {
	overflow: auto;
	min-height: 274px;
}
