/* app css stylesheet */

@import url('/assets/css/consultation.css');
@import url('/assets/css/signup.css');
@import url('/assets/css/file-upload.css');

.nav > .nav-item {
	margin-right: 5px;
}

.navbar-default .navbar-nav > li > .btn-success {
	color: white;
}

.center {
	float: none;
	margin: auto;
}

th:hover {
	cursor: pointer;
}

.btn-toolbar button {
	margin-right: 2px;
}


