/* app css stylesheet */

@import url('/assets/css/consultation.css');
@import url('/assets/css/signup.css');
@import url('/assets/css/file-upload.css');

.nav > .nav-item {
	margin-right: 5px;
}

.navbar-default .navbar-nav > li > .btn-success {
	color: white;
}

.center {
	float: none;
	margin: auto;
}

.modal-body {
	padding: 5%;
}

#tab-chat {
	margin: 1%;
}

.message {
	border-radius: 5px;
	padding: 2% 1% 0 1%;
	margin-top: 1%;
}

#chat-messages {
	height: 240px;
	overflow: auto;
}

.msg-content {
	margin-top: 1%;
	padding: 1%;
	overflow-wrap: break-word;
	font-size: 18px;
}

.msg-label {
	border: solid white 1px;
	border-radius: 5px;
	padding: 1%;
	margin-top: 1%;
	font-size: 14px;
}
