<body>
<div class="container">
    <div class="jumbotron">

        <div class="form-group">
            <span class="col-md-4"></span>
            <h2 class="col-md-8">Lista lekarzy</h2>
        </div>

        <table class="table table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>Specjalizacje</th>
                <th>Imię i nazwisko</th>
                <th>Terminy</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="doctor in doctors">
                <td>{{ $index }}</td>
                <td ng-repeat="specialization in doctor.specialties">{{ specialization.name }} {{$last ? '' : ', '}} </td>
                <td>{{ doctor.firstName + doctor.lastName}}</td>
                <td><a ng-href="{{ doctor }}">
                    <a href="#!/available-schedule/{{doctor.id}}" class="btn btn-sm btn-success">Pokaż terminy</a>
                </a></td>
            </tr>

            </tbody>
        </table>
    </div>
</div>

</body>