<body>
<div class="container">
    <div class="jumbotron" ng-app="myApp" ng-controller="DoctorListCtrl">

        <div class="form-group">
            <span class="col-md-4"></span>
            <h2 class="col-md-8">Lista lekarzy</h2>
        </div>
        
        
        <table id="doctors-table" class="table table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>Specjalizacje</th>
                <th>Imię i nazwisko</th>
                <th>Terminy</th>
            </tr>
            </thead>
 <!--          	<tbody>
							<tr ng-repeat="doctor in doctors">
							  <td>{{ $index }}</td>
								<td>{{ doctor.specialties }}</td>
								<td>{{ doctor.firstName doctor.lastName}}</td>
								<td><a ng-href="{{ doctor }}"><button class="btn btn-sm btn-success"> Terminy</button></a></td>
							</tr>
						</tbody>
		-->				
            <tbody>
            <tr>
                <td>1</td>
                <td>psychiatra</td>
                <td>Jan Kowalski</td>
                <td><input name="submit-btn" class="btn btn-sm btn-success" type="submit" value="Pokaż terminy" onclick="location.href='doctor/1/terms';" /></td>
            </tr>
            <tr>
                <td>2</td>
                <td>kardiolog</td>
                <td>Jakub Nowak</td>
                <td><input name="submit-btn" class="btn btn-sm btn-success" type="submit" value="Pokaż terminy" onclick="location.href='doctor/2/terms';" /></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>