<body>

	<div class="container">
		<div class="row">
			<div class="well clearfix">
					<div id="videosSection" class="row col-md-12 col-lg-12">
				        <div id="remoteVideos" class="col-md-6 col-lg-6"></div>
				        <div id="localVideoWrapper" class="col-md-6 col-lg-6">
					        <video id="localVideo" volume="0.3" class="videoWindow"></video>
				        </div>
			    	</div>
			        <div id="controlButtons" class="col-md-12 col-lg-12">
			        	<button id="call-btn" class="glyphicon glyphicon-earphone btn-lg btn-success" 
			        		title="Zadzwoń" type="button" value="call"></button>
								<button id="disconnect-btn" class="glyphicon glyphicon-phone-alt btn-lg btn-danger" 
									title="Zakończ rozmowę" type="button" value="disconnect"></button>
					      <button id="terminate-consultation-btn" class="glyphicon glyphicon-remove btn-lg btn-default" 
									title="Zakończ poprzednią konsultację" type="button" value="terminate"></button>
									
			        	<div id="utilityControls" class="pull-right">
									<button id="mute-btn" class="glyphicon glyphicon-volume-up btn-lg btn-default" 
										title="Poziom głośności" type="button"></button>
								    <input id="volume-level-range" type="range" min="0" step="1" max="100" value="50"/>
							        		
									<button id="screenshot-btn" class="glyphicon glyphicon-camera btn-lg btn-default" 
										title="Przechwyć obraz" type="button"></button>
									<button id="fullscreen-btn" class="glyphicon glyphicon-fullscreen btn-lg btn-default" 
										title="Otwórz w pełnym oknie" type="button"></button>
			        	</div>
			        </div>
			</div>
		</div>
		
		<div id="reservation-info" ng-show="currentReservation || nextReservation" class="row well text-center">
			<div id="reservation-current" ng-show="currentReservation" class="btn-success pull-left reservation-data">
					<span class="reservation-data-label row col-md-12">Aktualna rezerwacja</span>
					<span class="col-md-4">
						{{ currentReservation.patientName }}
					</span>
					<span class="col-md-3">
						{{ currentReservation.startDateTime | date : 'dd.MM.yyyy' }}
					</span>
					<span class="col-md-2">
						{{ currentReservation.startDateTime | date : 'HH:mm' }}
					</span>
					<span class="col-md-1">-</span>
					<span class="col-md-2">
						{{ currentReservation.endDateTime | date : 'HH:mm' }}
					</span>
			</div>
						
			<div id="reservation-next" ng-show="nextReservation" class="btn-default pull-right reservation-data">
					<span class="reservation-data-label row col-md-12">Kolejna rezerwacja</span>
					<span class="col-md-4 text-center">
						{{ nextReservation.patientName }}
					</span>
					<span class="col-md-3">
						{{ nextReservation.startDateTime | date : 'dd.MM.yyyy' }}
					</span>
					<span class="col-md-2 text-center">
						{{ nextReservation.startDateTime | date : 'HH:mm' }}
					</span>
					<span class="col-md-1 text-center">-</span>
					<span class="col-md-2 text-center">
						{{ nextReservation.endDateTime | date : 'HH:mm' }}
					</span>
			</div>
		</div>
		
		<div class="row well">
				<div class="btn-group col-md-4 col-md-offset-4">
				  <button id="tab-chat-btn" type="button" class="btn btn-success col-md-4" ng-click="showTab('tab-chat')">
				  	<h5>
								<span class="glyphicon glyphicon-envelope"></span>
								Chat
						</h5>
				  </button>
	 				<button id="tab-files-btn" type="button" class="btn btn-default col-md-4" ng-click="showTab('tab-files')">
	 					<h5>
								<span class="glyphicon glyphicon-file"></span>
								Pliki
						</h5>
	 				</button>
					<button id="tab-notes-btn" type="button" class="btn btn-default col-md-4" ng-click="showTab('tab-notes')">
						<h5>
								<span class="glyphicon glyphicon-pencil"></span>
								Notatki
						</h5>
					</button>
				</div>
				
				<div id="tabs" class="col-md-12">
					<div id="tab-chat" class="tab">
						<div id="chat-messages" class="row well col-md-8 col-md-offset-2 pre-scrollable"></div>
						
						<div id="chat-input" class="row col-md-8 col-md-offset-2">
							<div class="input-group">
								<textarea id="chat-input-text" rows="1" class="form-control" placeholder="wiadomość"></textarea>
								<span class="input-group-btn">
									<button id="chat-input-submit" class="btn btn btn-success"> Wyślij</button>
								</span>
							</div>
						</div>
					</div>
					
					<div id="tab-files" class="collapse tab">
						<div id="files-table-wrapper" class="well col-md-12">
							<h4>Udostępnione pliki</h4>
							<table id="files-table" class="table table-hover">
								<thead>
									<tr>
									
										<th ng-click="sortField = 'name'; sortReversed = !sortReversed" class="col-md-4">
											Nazwa pliku 
											<span ng-show="sortField == 'name' && sortReversed" class="glyphicon glyphicon-menu-down"></span>
											<span ng-show="sortField == 'name' && !sortReversed" class="glyphicon glyphicon-menu-up"></span>
										</th>
										
										<th ng-click="sortField = 'contentType'; sortReversed = !sortReversed" class="col-md-2">
											 Typ pliku
											<span ng-show="sortField == 'contentType' && sortReversed" class="glyphicon glyphicon-menu-down"></span>
											<span ng-show="sortField == 'contentType' && !sortReversed" class="glyphicon glyphicon-menu-up"></span>
										</th>
										
										<th class="col-md-3">Opcje</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="file in files | orderBy:sortField:sortReversed">
										<td>{{ file.name }}</td>
										<td>{{ file.contentType }}</td>
										
										<td ng-attr-id="toolbar-{{ file.id }}" class="btn-toolbar">
											<a ng-href="{{ file.url }}"><button class="btn btn-md btn-success"> Pobierz</button></a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					
					<div id="tab-notes" class="collapse tab">
						<div id="notes-wrapper" class="well col-md-12">
						
							<div id="notes-list">
								<h4>Notatki</h4>
								
								<form>
								  <div class="search-form form-group">
								    <div class="input-group">
								      <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
								      <input type="text" class="form-control" placeholder="Szukaj notatki" ng-model="noteKeyWord">
								    </div>      
								  </div>
								</form>
									
								<table id="notes-table" class="table table-hover">
									<thead>
										<tr>
											<th ng-click="sortField = 'content'; sortReversed = !sortReversed" class="col-md-8">
												Treść
												<span ng-show="sortReversed" class="glyphicon glyphicon-menu-down"></span>
												<span ng-show="!sortReversed" class="glyphicon glyphicon-menu-up"></span>
											</th>
											<th class="col-md-4">Opcje</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="note in notes | filter:noteKeyWord | orderBy:sortField:sortReversed">
											<td class="col-md-8">
												<div ng-attr-id="note-{{ note.id }}" rows="1" class="note btn-default">
														{{ note.content.trim() }}
												</div>
											</td>
											
											<td class="btn-toolbar col-md-4">
												<button ng-show="!isNoteModified[note.id]" ng-click="editNote(note.id)" class="col-md-5 btn btn-md btn-default"> Edytuj</button></a>
												<button ng-show="!isNoteModified[note.id]" ng-click="deleteNote(note.id)" class="col-md-5 btn btn-md btn-danger"> Usuń</button></a>

												<button ng-show="isNoteModified[note.id]" ng-click="updateNote(note.id)" class="col-md-5 btn btn-md btn-success"> Zapisz</button></a>
												<button ng-show="isNoteModified[note.id]" ng-click="cancelNoteModification(note.id)" class="col-md-5 btn btn-md btn-danger"> Anuluj</button></a>
											</td>
										</tr>
										
										<!-- New note row -->
										
										<tr ng-show="patientCalling">
											<td>
												<textarea id="new-note-text-input" ng-model="newNote.content" rows="5" class="note btn btn-md col-md-12" placeholder="Nowa notatka"></textarea>
											</td>
											<td class="btn-toolbar">
												<button ng-click="addNote()" class="btn btn-md btn-success col-md-10"> Dodaj</button></a>
											</td>
										</tr>
										
									</tbody>
								</table>
							</div>
							
						</div>
					</div>
					
				</div>
		</div>
		
	</div>
</body>