<body>

	<div class="container">
		<div class="row">
			<div class="well clearfix">
						<div id="videosSection" class="col-md-12 col-lg-12">
				        <div id="remoteVideos" class="col-md-6 col-lg-6"></div>
				        <div id="localVideoWrapper" class="col-md-6 col-lg-6">
					        <video id="localVideo" volume="0.3" class="videoWindow"></video>
				        </div>
			    	</div>
			        <div id="controlButtons" class="col-md-12 col-lg-12">
			        	<button id="call-btn" class="glyphicon glyphicon-earphone btn-lg btn-success" 
			        		title="Zadzwoń" type="button" value="call"></button>
								<button id="disconnect-btn" class="glyphicon glyphicon-phone-alt btn-lg btn-danger" 
									title="Zakończ rozmowę" type="button" value="disconnect"></button>
				        
			        	<div id="utilityControls" class="pull-right">
									<button id="mute-btn" class="glyphicon glyphicon-volume-up btn-lg btn-default" 
										title="Poziom głośności" type="button"></button>
							    <input id="volume-level-range" type="range" min="0" step="1" max="100" value="50"/>
						        		
									<button id="screenshot-btn" class="glyphicon glyphicon-camera btn-lg btn-default" 
										title="Przechwyć obraz" type="button"></button>
									<button id="fullscreen-btn" class="glyphicon glyphicon-fullscreen btn-lg btn-default" 
										title="Otwórz w pełnym oknie" type="button"></button>
			        	</div>
			        </div>
			</div>
		</div>
		
				<div class="row well">
				<div class="btn-group col-md-4 col-md-offset-4">
				  <button id="tab-chat-btn" type="button" class="btn btn-success col-md-6" ng-click="showTab('tab-chat')">
				  	<h5>
								<span class="glyphicon glyphicon-envelope"></span>
								Chat
						</h5>
				  </button>
	 				<button id="tab-doctor-info-btn" type="button" class="btn btn-default col-md-6" ng-click="showTab('tab-doctor-info')">
	 					<h5>
								<span class="glyphicon glyphicon-user"></span>
								O lekarzu
						</h5>
	 				</button>
				</div>
				
				<div id="tabs" class="col-md-12">
					<div id="tab-chat" class="tab">
					
						<div id="chat-messages" class="row well col-md-8 col-md-offset-2 pre-scrollable"></div>
						
						<div id="chat-input" class="row col-md-8 col-md-offset-2">
							<div class="input-group">
								<textarea id="chat-input-text" rows="1" class="form-control" placeholder="wiadomość"></textarea>
								<span class="input-group-btn">
									<button id="chat-input-submit" class="btn btn btn-success"> Wyślij</button>
								</span>
							</div>
						</div>
					</div>
					
					<div id="tab-doctor-info" class="collapse tab">
						<div class="tab-panel well col-md-10 col-md-offset-1">
							<div class="row tab-panel-row">
								<span class="tab-panel-label label label-success col-md-3 text-right">Imię i nazwisko</span>
								<span class="col-md-9 text-left">
									{{ doctorInfo.firstName + " " + doctorInfo.lastName }}
								</span>
							</div>
							<div class="row tab-panel-row">
								<span class="tab-panel-label label label-success col-md-3 text-right">Tytuł naukowy</span>
								<span class="col-md-9 text-left">
									{{ doctorInfo.title }}
								</span>
							</div>	
							<div class="row tab-panel-row">
								<div class="tab-panel-label label label-success col-md-3">Specjalizacje</div>
								<div class="col-md-9">
									<ul class="list-unstyled">
										<li ng-repeat="specialty in doctorInfo.specialties">
											{{ specialty }}
										</li>
									</ul>
								</div>
							</div>	
							<div class="row tab-panel-row">
								<span class="tab-panel-label label label-success col-md-3 text-right">Uczelnia</span>
								<span class="col-md-9 text-left">
									{{ doctorInfo.university }}
								</span>
							</div>								
							<div class="row tab-panel-row">
								<span class="row center-block tab-panel-row tab-panel-label label label-success col-md-12">Biografia</span>
								<div class="row center-block well col-md-12">
									{{ doctorInfo.biography }}
								</div>
							</div>	
						</div>
					</div>
				</div>
		</div>
		
		<div id="modal-call-status" class="modal fade" tabindex="-1" role="dialog">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		    
		      <div class="modal-header">
		        <h3 class="modal-title"> 
		        	<span class="glyphicon glyphicon-remove"></span>
		        		Rozmowa została zakończona
		        </h3>
		      </div>
		      
 		      <div class="modal-body">
						<div class="row">
							<h5>Konsultacja została zakończona na życzenie lekarza</h5>
						</div>
			    </div>
		   
		      <div class="modal-footer">
		        <button id="accept-btn" type="button" class="btn btn-lg btn-success">OK</button>
		      </div>
		  </div>
		</div>
		
	</div>
</body>