<body>
<div class="container">
    <div class="jumbotron">
        <div class="form-group">
            <span class="col-md-4"></span>
            <h2 class="col-md-8">{{fullDoctorName}}</h2>
        </div>

        <div ng-show="emptySchedule" class="col-md-offset-1 col-md-10 alert alert-warning">
            Lekarz nie posiada wolnych terminów
        </div>

        <table class="table">
            <thead ng-repeat-start="schedule in schedules">
            <tr>
                <th>{{schedule.key | date:'EEEE: dd MMMM yyyy'}}</th>
                <th></th>
            </tr>
            </thead>
            <tbody ng-repeat-end>
            <tr ng-repeat="value in schedule.values">
                <td>{{value.startDateTime | date:'HH:mm'}} - {{value.endDateTime | date:'HH:mm'}}</td>
                <td><input name="submit-btn" class="btn btn-sm btn-success" type="submit" value="Rezerwuj"
                           ng-click="bookTerm(value.id)"/></td>
            </tr>
            </tbody>
        </table>

    </div>
</div>
