<body>
<div class="container">
    <div class="jumbotron">
        <div class="form-group">
            <span class="col-md-4"></span>
            <h2 class="col-md-8">Lista terminów</h2>
        </div>
        <div class="form-group">
            <span class="col-md-4"></span>
            <h3 class="col-md-8">Jan Kowalski</h3>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th>Poniedziałek 07-11-2016</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>8:00-8:30</td>
                <td><input name="submit-btn" class="btn btn-sm btn-success" type="submit" value="Rezerwuj" onclick="location.href='aaa';" /></td>
            </tr>
            <tr>
                <td>8:30-9:00</td>
                <td><input name="submit-btn" class="btn btn-sm btn-success" type="submit" value="Rezerwuj" onclick="location.href='aaa';" /></td>
            </tr>
            </tbody>
            <thead>
            <tr>
                <th>Wtorek 08-11-2016</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>8:00-8:30</td>
                <td><input name="submit-btn" class="btn btn-sm btn-success" type="submit" value="Rezerwuj" onclick="location.href='aaa';" /></td>
            </tr>
            <tr>
                <td>8:30-9:00</td>
                <td><input name="submit-btn" class="btn btn-sm btn-success" type="submit" value="Rezerwuj" onclick="location.href='aaa';" /></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
