<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Lista lekarzy</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha382-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg2Va+PmSTsz/K68vbdEjh2u"
          crossorigin="anonymous"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha382-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{~/css/signup.css}"/>

</head>
<body>
<div class="container">
    <div class="jumbotron">

        <!-- CSRF temproarily DISABLED
        <input type="hidden"
            th:name="${_csrf.parameterName}"
            th:value="${_csrf.token}" />
         -->
        <div class="form-group">
            <span class="col-md-4"></span>
            <h2 class="col-md-8">Lista lekarzy</h2>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Specjalizacja</th>
                <th>Imię i nazwisko</th>
                <th>Terminy</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>psychiatra</td>
                <td>Jan Kowalski</td>
                <td><input name="submit-btn" class="btn btn-sm btn-success" type="submit" value="Pokaż terminy" onclick="location.href='doctor/1/terms';" /></td>
            </tr>
            <tr>
                <td>2</td>
                <td>kardiolog</td>
                <td>Jakub Nowak</td>
                <td><input name="submit-btn" class="btn btn-sm btn-success" type="submit" value="Pokaż terminy" onclick="location.href='doctor/2/terms';" /></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>