<body>
<div class="container">
    <div class="jumbotron">

        <form name="f">

            <div class="form-group">
                <span class="col-md-4"></span>
                <h2 class="col-md-8">Ustawienia konta</h2>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label">Imię: </label>
                <div class="col-md-8">
                    <input name="firstname" type="email" class="form-control" required="required" value="Wczytać z bazy tutaj"/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label">Nazwisko: </label>
                <div class="col-md-8">
                    <input name="surname" type="email" class="form-control" required="required" value="Wczytać z bazy tutaj"/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label">Adres e-mail: </label>
                <div class="col-md-8">
                    <input name="username" type="email" class="form-control" required="required" value="Wczytać z bazy tutaj"/>
                </div>
            </div>

            <div class="form-group">
                <span class="col-md-4"></span>
                <h4 class="col-md-8">Zmiana hasła</h4>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Stare hasło: </label>
                <div class="col-md-8">
                    <input name="oldpassword" type="password" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Nowe hasło: </label>
                <div class="col-md-8">
                    <input name="newpassword1" type="password" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Powtórz hasło: </label>
                <div class="col-md-8">
                    <input name="newpassword2" type="password" class="form-control" />
                </div>
            </div>

            <div class="pull-right">
                <input name="submit-btn" class="btn btn-lg btn-success" type="submit" value="Zapisz zmiany" />
            </div>

        </form>
    </div>
</div>

</body>